{% extends "base.html" %}
{% block content %}
<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About me</title>
    <link type="text/css" rel="stylesheet" href="/static/styles.css">
</head> -->
<body>
    <p>Hi,my name is Shaurya Singh I am in class : 7 section:B school:School Of India(SOI).
    </p>
    <img src="./static/Shaurya Photo.jpg" alt="My photo" width="300px" height="350px"> 
    <br><p>I love <b>coding</b> I would like to thank Givemefive and my teacher for helping me to make this webpage.I am also a teakwondo black belt . I am also a international spellbee student</p>
</body>
</html>
{% endblock %}