{% extends "base.html" %}
{% block content %}
<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo</title>
    <style>form{color: rgb(255, 255, 255) }
	body{background: rgb(228, 64, 64);}</style>
</head> -->

<body align="center">
    <h1>Why do we need ToDo list</h1>
    <h2>to‐do list (plural to-do lists) A list of errands and other tasks – often written on a piece of paper as a memory aid – that one needs or intends to accomplish.<br>One of the most important reasons for keeping a to-do list is the organization. Organizing your tasks with a list can<br> make everything much more manageable and make you feel grounded. Seeing a clear outline of your completed<br> and uncompleted tasks will help you feel organized and stay mentally focused.
</h2>
<h1>Why it is important</h1>
<h2>By keeping such a list, you make sure that your tasks are written down all in one place so you don't forget anything <br>important. And by prioritizing tasks, you plan the order in which you'll do them, so that you can tell what needs <br>your immediate attention, and what you can leave until later.</h2>
</body>

{% endblock %}